<div>
    <div id="modalOverlay" class="page-overlay">
        
        <div class="standard-modal login-modal" id="modalUi" role="dialog">
            <div class="modal-content">
                <div class="modal-head">
                    <h3>Hey There!</h3>
                    <p>Sign in to View Competitions, Register For Competitions, save and share your favourite events, and much more.</p>
                </div>
                <div class="modal-action">
                    <div><button class="css-1536zln">
                    <svg height="24" width="24" style="display: block;">
                        <g fill="none" fill-rule="evenodd" transform="translate(1.5 1.5)">
                            <path
                                d="M10.23 3.955c1.92 0 3.216.83 3.955 1.523l2.887-2.818C15.299 1.012 12.992 0 10.23 0 6.229 0 2.773 2.296 1.09 5.638L4.4 8.206c.83-2.466 3.125-4.25 5.83-4.25z"
                                fill="#ea4335"></path>
                            <path
                                d="M20.05 10.457c0-.841-.068-1.455-.216-2.092H10.23v3.797h5.637c-.114.943-.727 2.364-2.091 3.319l3.228 2.5c1.932-1.784 3.046-4.41 3.046-7.524z"
                                fill="#4285f4"></path>
                            <path
                                d="M4.41 12.253a6.297 6.297 0 0 1-.34-2.023c0-.705.124-1.387.329-2.024L1.09 5.638A10.238 10.238 0 0 0 0 10.23c0 1.648.398 3.205 1.091 4.591z"
                                fill="#fbbc05"></path>
                            <path
                                d="M10.23 20.459c2.761 0 5.08-.91 6.774-2.478l-3.228-2.5c-.864.602-2.023 1.023-3.546 1.023-2.706 0-5.002-1.785-5.82-4.251L1.103 14.82c1.682 3.342 5.126 5.638 9.127 5.638z"
                                fill="#34a853"></path>
                            <path d="M0 0h20.459v20.459H0z"></path>
                        </g>
                    </svg>
                        <input type="text" placeholder="Enter your Google email address" class="css-1536zln google-input">
                    </button>
                    </div>
                    <div>
                        <div><button class="css-1536zln">
                            <svg
                            height="24" width="24" style="display: block;">
                            <path
                                d="M23 7.982a1 1 0 0 1 0 .034V18a3 3 0 0 1-3 3H4a3 3 0 0 1-3-3V8.017a1 1 0 0 1 0-.035V6a3 3 0 0 1 3-3h16a3 3 0 0 1 3 3zm-2-.547V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v1.433l9.027 5.4L21 7.436zm0 2.334l-8.456 5.088a1 1 0 0 1-1.029.001L3 9.764V18a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1z"
                                fill="#373435"></path>
                        </svg>
                        <input type="text" placeholder="Enter your email address" class="css-1536zln email-input">
                    </button>
                    </div>
                    <div>
                        <div><button class="css-1536zln">
                        <input type="text" placeholder="Enter your Token for Role Based Access" class="css-1536zln token-input">
                    </button>
                    </div>
                </div>
            </div>
            <button id="closeModalButton" class="icon-round icon-close css-s3n4y4" role="close"></button>
        </div>
    </div>
</div>
