html, body {
    margin: 0;
    padding: 0;
    overflow-y: auto; 
  }

  .css-1rjpcfj-home-logo {
    box-sizing: border-box;
    display: block;
    -webkit-text-decoration: none;
    text-decoration: none;
    background: transparent url(/assets/icons/theJudgesHub.jpeg) center 45% / contain no-repeat;
    width: 151.25px;
    height: 73.25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}